@{
    ViewData["Title"] = "Liste des rôles";
}
@using Isen.Dotnet.Library.Model;
@model IEnumerable<Role>;
<div>
    <h1>Liste <small>des Rôles</small></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom du rôle</th>         
                <th scope="col">Liste</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var role in Model)
            {
            <tr>
                <th scope="row">@role.Id</th>
                <td>@role.RoleName</td>             
                <td>
                    <a class="btn btn-outline-primary"
                        asp-controller="Role"
                        asp-action="Edit"
                        asp-route-id="@role.Id">Modifier</a>
                    <a class="btn btn-outline-danger"
                        asp-controller="Role"
                        asp-action="Delete"
                        asp-route-id="@role.Id">Supprimer</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>